body{
	background-color:#E0E0D6;
}	
#container{
	width:600px;
	margin:30px auto;
	border:1px solid #999;
	padding:10px;
}
.content{
	height:400px;
	overflow:scroll;
	overflow-x:hidden;
	border:1px solid #999;
}
.content table{
	width:100%;
}
.content table th{
	background:#949470;
}