<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="mustache.js/mustache.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
</head>
<body onload="loadUser()">

<div id="target">Loading...</div>
<!--A section begins with a pound and ends with a slash. That is, `{{#person}}` begins a `person` section, while `{{/person}}` ends it.
    The text between the two tags is referred to as that section's "block".-->
<script id="template" type="x-tmpl-mustache">

Hello {{ name }}!<br>
<!--All variables are HTML-escaped by default. If you want to render unescaped HTML, use the triple mustache: `{{{name}}}`. You can also use `&` to unescape a variable.-->
From {{{ country }}}!
</script>



</body>
</html>
<script>


    function loadUser() {
        var template = $('#template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        var rendered = Mustache.render(template, {name: "Jigar",country: "<b>india<b>",});
        $('#target').html(rendered);
    }




</script>