<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mustache Sample</title>
</head>
<body>
<h2>Titles</h2>
<ul id="talktitles">
</ul>

<script type="text/javascript" src="mustache.js/mustache.js"></script>
<script type="text/javascript" src="jquery.js"></script>

<script id="speakers-template" type="text/template">
    {{#speakers}}
    <li>{{title}}</li>
    {{/speakers}}
</script>
<script>
    $(function() {

        var data={ "speakers": [
            { "firstname": "Ray",
                "lastname": "Villalobos",
                "category": "Front End",
                "title": "Bootstrap & CSS Preprocessors",
                "image": "http://barcampdeland.org/images/speaker_rayvillalobos.jpg",
                "link": "http://iviewsource.com",
                "bio": "Ray Villalobos is a full-time author and teacher at lynda.com. He is author of the book, Exploring Multimedia for Designers. He has more than 20 years experience in developing and programming multimedia projects. Previously at Entravision Communications, he designed and developed a network of radio station and TV web sites. As a senior producer for Tribune Interactive, he was responsible for designing orlandosentinel.com and for creating immersive multimedia projects and Flash games for the site.",
                "description": "As responsive design continues to take over the web, front-end developers and designers have turned to preprocessors and layout systems that simplify their workflow. Lynda.com staff author Ray Villalobos will talk about using the Bootstrap framework from Twitter to scaffold and fast track your responsive design. He'll talk about how you can use CodeKit and LESS to put together designs in hours instead of days."
            },

        ]}

            var template = $('#speakers-template').html();
            var info = Mustache.to_html(template, data);
            $('#talktitles').html(info);

    });
</script>

</body>
</html>
