<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="mustache.js/mustache.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
</head>
<body onload="loadUser()">

<div id="target">Loading...</div>


</p>
<script id="template" type="x-tmpl-mustache">

<p>
Sections render blocks of text one or more times, depending on the value of the key in the current context.
</p>

<p>A section begins with a pound and ends with a slash. That is, `{{#person}}` begins a `person` section, while `{{/person}}` ends it. The text between the two tags is referred to as that section's "block"



<br><h4>Simple section:</h4>
{{#stooges}}
<b>{{name}}</b>
{{/stooges}}

<p>When looping over an array of strings, a `.` can be used to refer to the current item in the list.</p>
<br><h4>Looping over an array of strings:</h4>
{{#musketeers}}
<b>{{.}}</b>
{{/musketeers}}


<p>If the value of a section variable is a function, it will be called in the context of the current item in the list on each iteration.
.</p>
<br>
{{#beatles}}
* <b>{{name}}</b>
{{/beatles}}







</script>

</body>
</html>
<script>

    function loadUser() {


        var data ={
            "stooges": [
                { "name": "jigar" },
                { "name": "Larry" },
                { "name": "Curly" }
            ],
            "musketeers": [
                "Athos", "Aramis", "Porthos", "D'Artagnan"
            ],
            "beatles": [
                { "firstName": "John", "lastName": "Lennon" },
                { "firstName": "Paul", "lastName": "McCartney" },
                { "firstName": "George", "lastName": "Harrison" },
                { "firstName": "Ringo", "lastName": "Starr" }
            ],
            "name": function () {
                return this.firstName + " " + this.lastName;
            }

        }

        var template = $('#template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        var rendered = Mustache.render(template, data);
        $('#target').html(rendered);
    }
</script>