#container{
	background:#EAEAE0;
	width:1200px;
	border:1px solid #666;
	margin:30px auto;
	padding:5px;
	overflow:hidden;
}

.header{
	background:#FFF;
	width:1200px;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:26px;
	text-align:center;
	margin:5px auto;
	padding:30px;
}
h2{
	font:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-align:left;
	padding:5px;
}
h3{
	font:Verdana, Geneva, sans-serif;
	font-size:22px;
	text-align:left;
	padding:5px;
}
h4{
	font:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:right;
	padding:5px 5px 0px 5px;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:link{
	color:#19A3D1;
}
.menu{
	float:left;
	width:200px;
	background-color:#FFF;
}
.content_wrapper{
	width:974px;
	float:left;
	background-color:#FFF;
	margin:0px 0px 0px 5px;
}

.content{
	width:974px;
	padding:10px 10px 0px 10px;
	background-color:#FFF;
	float:left;
	background-color:#FFF;
}
.content_holder{
	padding:5px;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#B8B8A0;
}